Package: cockpit-wifimanager
Version: 1.9.test1-1.deb13
Architecture: all
Maintainer: Jason McCormick <jason@mfamily.org>
Installed-Size: 556
Depends: cockpit, network-manager
Section: Radio
Priority: optional
Homepage: https://github.com/AllStarLink/cockpit-wifimanager
Description: A simple pluging for Cockpit to manage
  wireless network connections
